@font-face {
    font-family: "AmaticSC-Regular";
    src: url(./fonts/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "ElMessiri-Regular";
    src: url(../fonts/ElMessiri-Regular.ttf);
}
